<h1>In which view are we?: score</h1>
<p>Your guess was : <%= @guess_query%>"></p>

<h1>Welcome to our game -> guess the longest word or burn in hell.</h1>
<p><%= @letters%>"></p>

<!-- puts "******** Welcome to the longest word-game!********"
puts "Here is your grid:"
grid = generate_grid(9)
puts grid.join(" ")
puts "*****************************************************" -->

<!-- puts "What's your best shot?"
start_time = Time.now
attempt = gets.chomp
end_time = Time.now

puts "******** Now your result ********"

result = run_game(attempt, grid, start_time, end_time)

puts "Your word: #{attempt}"
puts "Time Taken to answer: #{result[:time]}"
puts "Your score: #{result[:score]}"
puts "Message: #{result[:message]}"

puts "*****************************************************" -->
